* {
  font-family: "Helvetica";
}

body {
  margin: 0 !important;
  background-color: #f1f3ff !important;
}

.navbar {
  height: 36px;
  margin-top: 24px;
  background-color: #f1f3ff;
}

.offcanvas li {
  padding-right: 32px;
}

.navbar-toggler-icon {
  color: black;
}

.desc-sewa {
  font-size: 14px;
  line-height: 20px;
}


.list {
  margin-left: 16px;
}

.feature {
  border: 1px solid black !important;
  border-radius: 8px;
}

#jumbotron {
  background-color: #f1f3ff;
}

#register {
  width: 81px;
  height: 36px;
  font-size: 14px;
  background-color: #5cb85f;
}

#header {
  max-width: 568px;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 16px;
}

#hero-description {
  max-width: 468px;
  font-size: 14px;
}

#second {
  height: 100%;
  width: 100%;
}

#best-car {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

#right-col-second {
  padding-left: 100px;
}

#title-featured {
  font-size: 16px;
}

#paragraph-why-us {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .feature-icon {
    padding-top: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    margin-left: 136px;
    margin-right: 136px;
  }

  .hero {
    padding-left: 136px;
    width: 100%;
  }

  .feature.col.me-3 {
    overflow: hidden;
    max-width: 268px;
    max-height: 196px;
    padding: 24px; /* Hides any content that overflows */
    /* Optionally, you can also set a max-width to prevent the div from expanding too much */ /* Adjust as needed */
  }

  #paragraph-why-us {
    width: 220px;
    height: 60px;
  }
}
