* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

#right {
  background-color: #0d28a6;
}

.container-fluid {
  max-height: 100%;
}

.landing {
  left: 144px;
  top: 48px;
  scale: 100%;
}

.binar-car-rental {
  opacity: 70%;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  margin-left: 140px;
}

.card-body {
  font-size: 14px;
  font-family: "Helvetica";
  width: 450px;
}

input::placeholder {
  font-size: 12px; /* Set the desired font size */
}

#form2Example11,
#form2Example22,
#submit-btn {
  height: 38px;
  width: 370px;
}

#logo-kotak {
  margin-top: 185px;
}

#logo-kotak-sign-up {
  margin-top: 160px;
}

#welcome-text,
#logo-kotak,
#logo-kotak-sign-up {
  margin-bottom: 32px;
}

#sign-up {
  margin-top: 32px;
  margin-right: 50px;
}

#submit-btn {
  background-color: #0d28a6;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
  .card-body {
    margin-left: 50px;
  }

  form,
  #logo-kotak {
    padding-top: 10px;
    margin-left: 20px;
  }
}

#a-href {
  color: #0d28a6;
}
